body {
    background-color: #fef0bb; 
    margin: 0;
    padding: 0;
  }
  
h1 {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-family: 'Lora', serif;
    text-align: center;
    color: #fef0bb
  }
  
  h3 {
    font-family: 'Lora', serif;
    text-align: center;
    color: #222;
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

