.calculator {
    width: 150px;
    text-align: center;
    color: #999;
}

.result {
    font-size: 3.0em;
    font-weight: bold;
    color: red;

}

.operator1 {
    font-size: 1.5em;
    font-weight: bold;
    color: black;

}

.operator2 {
    font-size: 1.5em;
    font-weight: bold;
    color: blue;

}

.addition-button {
    cursor: pointer;
    color: blue;
    margin-right: 10px;
}
.substraction-button {
    cursor: pointer;
    color: rgb(0, 62, 128);
    margin-right: 10px;
}
.multiplication-button {
    cursor: pointer;
    color: rgb(0, 128, 0);
    margin-right: 10px;
}

.division-button {
    cursor: pointer;
    color: rgb(128, 0, 0);
    margin-right: 10px;
}

.sqrt-button {
    cursor: pointer;
    color: rgb(105, 128, 0);
    margin-right: 10px;
}
